var wordsToSay = [];

function addWord(data, majurl = false){
    var html = '<a class="btn btn-xs btn-default" onClick="removeWord($(this));" title="'+data.text+'" style="margin-right:5px; margin-top:5px;" ><strong><span class="text-muted" role="presentation">×</span>&nbsp;'+data.text+'</strong></a>';

     wordsToSay.push(data);
     if(!mobile){
         $("#footer > div > span").html($("#footer > div > span").html()+html);
     }else{
         html = '<a class="btn btn-xs btn-default" onClick="removeWordMobile($(this));" title="'+data.text+'" style="margin-right:5px; margin-top:5px;" ><strong><span class="text-muted" role="presentation">×</span>&nbsp;'+data.text+'</strong></a>';
         $("#selectionsSelect2").html($("#selectionsSelect2").html()+html);
     }
     $("#select2").val("").trigger("change");
     $("#select2-mobile").val("").trigger("change");
     if(majurl){
         rebuildUrlFromWords();
         changeVideo(pathGame,""+data.id, 'infini',false,200,false);
         initSelect2();
     }
}

function removeWord(btn){
    var btn_index = $('#footer .text a').index(btn);
    if (btn_index !== -1) {
        wordsToSay.splice(btn_index, 1);
        btn.remove();
        rebuildUrlFromWords();
    }
}

function removeWordMobile(btn) {
    var btn_index = $('#selectionsSelect2 a').index(btn);
    if (btn_index !== -1) {
        wordsToSay.splice(btn_index, 1);
        btn.remove();
        rebuildUrlFromWords();
    }
}

function createWordFromUrl(){
    var url_string = window.location;
    var url = new URL(url_string);
    var oneOrMoreVideo = false;
    var texte = decodeURIComponent(url.searchParams.get("texte"));
    if(""+texte == "null"){
        var msg = url.searchParams.get("msg");
        if(msg){
            texte=atou(msg);
        }
    }
    if(""+texte != "null"){
        var texteArray = texte.split(',');
        var totalTextes = game_json.dictionnaire;
        for (var ti in texteArray) {
            var t = texteArray[ti];
            for (var x in totalTextes) {
                var o = totalTextes[x];
                if(o.word == t){
                    oneOrMoreVideo = true
                    addWord({text : t, id : o.id });
                    break;
                }
           }
        }
    }
}

function rebuildUrlFromWords(){

    history.pushState("toto","str","?texte="+encodeURIComponent(createParamsUrl()));
    show_short_url();
}

function createParamsUrl(){
    var str = "";
    for (var x in wordsToSay) {
        str+=wordsToSay[x].text+",";
    }
    return str.slice(0, -1);
}

function get_short_url()
{
    return "http://"+window.location.host+window.location.pathname+"?msg="+utoa(createParamsUrl());
}

function show_short_url()
{
    console.log(window.location.host+window.location.pathname+"?msg="+utoa(createParamsUrl()));
}

// ucs-2 string to base64 encoded ascii
function utoa(str) {
    return window.btoa(unescape(encodeURIComponent(str)));
}

// base64 encoded ascii to ucs-2 string
function atou(str) {
    return decodeURIComponent(escape(window.atob(str)));
}

var lastVideoId = null;
var isSameVideo = false;
function playSequenceBtn(cpt = 0){
    $("video").each(function(){ $(this).unbind("ended"); });
    var localCpt = 0;
    var videoElt = null;
    for (var x in wordsToSay) {
        if(localCpt == cpt){
            var videoId = wordsToSay[x].id;
            changeVideo(pathGame,videoId, 'infini',false,0,200,false);
            videoElt = document.getElementById( 'video_'+videoId );

            isSameVideo = (lastVideoId == videoId);
            lastVideoId = videoId;
            cpt++;
            break;
        }
        localCpt++;
    }
    if(videoElt){
        if(isSameVideo){
                $(videoElt).bind('ended',function(){
                    playSequenceBtn(cpt);
                });
        }else{
            $(videoElt).bind('loadedmetadata', function() {
                var duration = videoElt.duration;
                var currentTime = videoElt.currentTime;
                var diff = (duration * 1000) - (currentTime * 1000);
                setTimeout(function(){
                        playSequenceBtn(cpt);
                }, diff);
                $(videoElt).unbind('play');
                $(videoElt).unbind('loadedmetadata');
            });
        }
    }else{
        for (var x in wordsToSay) {
            var videoIdToStop = wordsToSay[x].id;
            stopVideo(videoIdToStop);
        }

    }
}

function initSelect2(){
    var list = $('#select2').select2({
        placeholder: "Tapez des mots",
        allowClear: true,
        closeOnSelect: false,
        }).on("select2:closing", function(e) {
          e.preventDefault();
        }).on("select2:closed", function(e) {
          list.select2("open");
       });
       list.select2("open");

      if($('#dictionnairemobile').length){
          var list = $('#select2-mobile').select2({
              placeholder: "",
              allowClear: true,
              closeOnSelect: true,
          });
      }

}


$('#select2').on('select2:select', function (e) {
  var data = e.params.data;
  var word = { "text" : data.text, "id" : data.id }
  addWord(word,true);
});

$('#select2-mobile').on('select2:select', function (e) {
  var data = e.params.data;
  var word = { "text" : data.text, "id" : data.id }
  addWord(word,true);
});


$(document).ready(function(){
    initSelect2();
    createWordFromUrl();
    if(mobile){
        onWindowResizeMobile();
        initFullScreenButton();
    }
    $(video).on('ended', function(){
        playSequenceBtn();
    });
});
