
//Definition des textes
var text1 = "\nSi vous voulez en savoir plus appuyez sur 'Espace'\nSinon appuyez sur 'Entrée'";
var text2 = "\n'Espace' : Cela ne m'interresse pas\n'Entrée': Je veux en savoir plus";
var text3 = "\n'Espace' : Qu'est ce que je dois faire ?\n'Entrée': Je ne veux pas 'baiser la gueulle' à Cohagen, je ne le connais même pas";
var text4 = "\n'Espace' : Je suis prêt\n'Entrée': Non ça fait peur ce truc!";
var text5 = "\n'Espace' : J'arrête tout de suite ça fait mal !\n'Entrée': Sortir le truc...";
var text6 = "\n'Entrée' : Appuyez rapidement sur 'Entrée' pour sortir l'emmetteur de votre nez";
var text7 = "";
var text8 = "\n'Espace' : Je dois faire quoi Maintenant ?\n'Entrée': C'est quoi ce truc? Je ne veux pas le savoir je m'en vais.";
var text9 = "\n'Espace' : Accepter la mission et aller sur Mars\n'Entrée': Ca va pas la tête je refuse !";


var textGameOver = "\nVous avez perdu ! Pour rejouer la dernière séquence clicker ici : <a href='#' class='btn btn-xs btn-default' onClick='gameOverClicked(); return false;'>Rejouer</a>"
//Définition des transitions flags

var next_0 = "000";
var next_1 = "001";
var next_2 = "002";
var next_3 = "003";
var next_4 = "004";
var next_5 = "005";
var next_6 = "006";
var next_7 = "007";
var gameOver = "008";

var compteur = 0;
var maxCpt = 16;
var minVideo,maxVideo;

var lastVideoPlayed = { "val" : "000"};

var delayMsg = 600;

function keyupForPlaying(e){
  var code = e.keyCode || e.which;
  if(code == e.data.code){
    videoElt = document.getElementById( 'video_'+e.data.next );
    videoElt.play();
    setTimeout(function(){ videoElt.pause(); }, 70);
  }else{
    changeVideo(gameOver,delayMsg);
  }
}

//Transitions - changement de vidéo par touches
function keypressChoice(e){
  var code = e.keyCode || e.which;
  console.log(code,next_1,next_2,next_3,next_4,next_5,next_6,next_7,lastVideoPlayed);

  // changeVideoChoiceWithKeypressed(nextLock,keycode,keyTrue,videoElse);

  if(changeVideoChoiceWithKeypressed(next_1,code,32,gameOver,delayMsg)){
    next_1 = false;
    unbindAllKeypress();
    return;
  }

  if(!next_1) {
        if(changeVideoChoiceWithKeypressed(next_2,code,13,gameOver,delayMsg)){
          next_2 = false;
          unbindAllKeypress();
          return;
        }
  }

  if(!next_1 && !next_2) {
    if(changeVideoChoiceWithKeypressed(next_3,code,32,gameOver,delayMsg)){
      next_3 = false;
      unbindAllKeypress();
      return;
    }
  }
  if(!next_1 && !next_2 && !next_3) {
    if(changeVideoChoiceWithKeypressed(next_4,code,32,gameOver,delayMsg)){
      next_4 = false;
      unbindAllKeypress();
      return;
    }
  }
  if(!next_1 && !next_2 && !next_3 && !next_4) {
    if(next_5){
      if(code == 13){
        changeVideo(next_5,delayMsg,true);
        loadText(text6,delayMsg);
        $(document).bind('keyup', {"next" : next_5, 'code' : 13}, keyupForPlaying);
        unbindAllKeypress();
      }else{
        changeVideo(gameOver,delayMsg);
      }
      return;
    }
  }
  if(!next_1 && !next_2 && !next_3 && !next_4 && !next_5) {
    if(changeVideoChoiceWithKeypressed(next_6,code,13,gameOver,delayMsg)){
      next_6 = false;
      unbindAllKeypress();
      return;
    }
  }
  if(!next_1 && !next_2 && !next_3 && !next_4 && !next_5 && !next_6) {
    if(changeVideoChoiceWithKeypressed(next_7,code,32,gameOver,delayMsg)){
      next_7 = false;
      unbindAllKeypress();
      return;
    }
  }
}

function unbindAllKeypress(){
  if(next_1 || next_2 || next_3 || next_4 || next_5 || next_6 || next_7 || gameOver){
        $(document).unbind('keypress');
        return;
  }
}

function gameOverClicked(){
  console.log("le game over relance la video "+lastVideoPlayed["val"]);
  changeVideo(lastVideoPlayed["val"],delayMsg);
}

// Gestion de l'assigmenent des vidéo clefs par evennement
$(document).ready(function(){
    $('#video_000').on('ended',function(){
      loadText(text1,delayMsg);
      $(document).bind('keypress', "e", keypressChoice);
    });
    $('#video_001').on('ended',function(){
      loadText(text2,delayMsg);
      $(document).bind('keypress', "e", keypressChoice);
    });
    $('#video_002').on('ended',function(){
      loadText(text3,delayMsg);
      $(document).bind('keypress', "e", keypressChoice);
      loadText(text3,delayMsg);
    });
    $('#video_003').on('ended',function(){
      loadText(text4,delayMsg);
      $(document).bind('keypress', "e", keypressChoice);
    });
    $('#video_004').on('ended',function(){
      loadText(text5,delayMsg);
      $(document).bind('keypress', "e", keypressChoice);
    });
    $('#video_005').on('ended',function(){
      loadText(text7,delayMsg);
      next_5 = false;
      $(document).unbind('keyup');
      $(document).bind('keypress', "e", keypressChoice);
    });
    $('#video_006').on('ended',function(){
      loadText(text8,delayMsg);
      $(document).bind('keypress', "e", keypressChoice);
    });
    $('#video_007').on('ended',function(){
      loadText(text9,delayMsg);
      // Pour la suite scene 2
      // $(document).bind('keypress', "e", keypressChoice);
    });

    //Gestion du GameOver
    $('#video_008').on('ended',function(){
      loadText(textGameOver,delayMsg);
      unbindAllKeypress();
    });
  });
