
body {
  background-color: #333;
  color: #fff;
  margin: 0px;
  font-family:Monospace;
  text-align:center;
  height: 100%;
   overflow-x: hidden;
}

.entete {
  text-align: left;
}

* {
    margin: 0;
}

@media () {
    .gray {
        height: auto;
    }
}

header img
{
    width: 100%;
}
h3
{
  margin-top: 10px;
  margin-bottom: 0px;
}
p {
    margin: 0 0 2px;
}

.padding-0 {
    padding: 0;
}

.description{
  text-align: left;
  padding-right: 12px;
  padding-left: 12px;
}

.lien_video{
  display: block;
}
.gamelink{
  border-left: 5px solid black;
}


@media (orientation:landscape) {
    .hide-on-landscape {
        display: none;
    }
}

@media (orientation:portrait) {
    .hide-on-portrait {
        display: none;
    }
}
