
body {
  background-color: #000;
  color: #fff;
  margin: 0px;
  font-family:Monospace;
  font-size:13px;
  text-align:center;
  font-weight: bold;
  text-align:center;
  height: 100%;
}

* {
    margin: 0;
}

@media () {
    .gray {
        height: auto;
    }
}

header img
{
    width: 100%;
}

.padding-0 {
    padding: 0;
}
