html, body {
    overflow-y: hidden;
}
body{
}

video{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

#dictionnairemobile {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 85px;
    font-size: 12px;
    text-align: left;
    background: #333;
}

#selectionsSelect2 {
    position: absolute;
    top: 22px;
}
.select2-selection{
    min-height: 60px !important;
}

.buttonStart{
    background-color: rgb(51, 51, 51);
    color: white;
    height: 150px;
    width: 180px;
}

.positionPortrait {
    position: absolute;
    left: 26%;
    top: 30%;
}

.positionLandscape {
    position: absolute;
    left: 40%;
    top: 30%;
}
