html, body {
    overflow-y: hidden;
}
body{
}

video{
    width: 100%;
    height: auto;
}


#goFSDiv {
    position: absolute;
    right: 10px;
    top: 10px;
}

#retour_accueil_mobile {
    position: absolute;
    padding-left: 10px;
    top: 10px;
    width: 100%;
}
