html, body {
    overflow-y: hidden;
}
body{
}

video{
    width: 100%;
    height: auto;
}

#dictionnairemobile {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 85px;
    font-size: 12px;
    text-align: left;
    background: #333;
}

#selectionsSelect2 {
    position: absolute;
    top: 22px;
}
.select2-selection{
    min-height: 60px !important; 
}
