{% extends 'base.html.twig' %}

{% block body %}
<div class="theme-showcase" role="main">
  {{ include('entetes.html.twig', {'games': games , 'active' : 'apropos' }) }}
</div>

<div class="container theme-showcase" role="main">
  <div class="row">
    <div class="col-xs-12 text-left" style="margin-bottom:30px; background-color:#000;">
      <br/>
      <p><strong>Réalisation : </strong> Mathurin</p>
      <p><br/>Ce site a été construit grâce à une motivation et une réalisation personnelle.<br/>L'intégralité du code est open source, hébergé ici : <a href="https://github.com/mathurinpetit/videoGames">https://github.com/mathurinpetit/videoGames</a></p>
      <p><br/><strong>Un grand merci à ma soeur Mélodie qui m'a aidé à me relire !</strong></p>
      <p><br/><strong>N'hésitez pas à contribuer à son amélioration !</strong></p>
      <p><br/>Le développement a été mené avec les technologies suivantes :<br/></p>
      <ul class="list-unstyled" style="padding-left:25px;">
        <li>PHP 5 / Symfony 2</li>
        <li>Javascript / Three.js / Jquery</li>
        <li>Boostrap 3</li>
      </ul>
    </div>
    <div class="col-xs-12 text-left" style="margin-bottom:30px; background-color:#000;">
      <br/>
      <p><h3><strong>Autres projets : </strong></h3></p>
      <br/>
    </div>
    <div class="col-xs-12 text-left" style="margin-bottom:30px; background-color:#000;">
        <br/>
        <div class="row" style="padding-bottom:30px;">
          <div class="col-xs-6 text-left">
            <h3><strong>Tutoriel du kit "Fais le toi même" de lapussealoreille (2015)</strong></h3>
            <p><br/>Vidéo créée en 2015 pour fabriquer soi-même ses boucles d'oreilles avec des puces de cartes téléphoniques (pour ceux qui ont connu les cabines).<br/><br/>Le site www.lapussealoreille.com propose ces boucles d'oreilles qui allient artisanat et recyclage.<br/><br/>Ces bijoux sont très jolis portés, et sont donc de très beaux cadeaux, rigolos et originaux.</p><br/><br/>
            <a href="http://lapussealoreille.com/" class="btn btn-default">Accéder au site http://lapussealoreille.com &nbsp;<span class="glyphicon glyphicon-arrow-right"></span></a>
          </div>
          <div class="col-xs-6">
        <iframe width="500" height="275" src="https://www.youtube.com/embed/_NvqhNxjjIc" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
  <div class="col-xs-12 text-left" style="margin-bottom:30px; background-color:#000;">
      <br/>
      <div class="row" style="padding-bottom:30px;">
        <div class="col-xs-6 text-left">
          <h3><strong>izy.netlib.re (2015)</strong></h3>
          <p><br/>Site internet créé en 2015.<br/><br/>Ce site a été créé pour l'organisation d'une soirée.<br/><br/>A vous de trouver les détails cachés sur la page internet.</p><br/><br/><br/><br/>
          <a href="http://izy.netlib.re" class="btn btn-default">Accéder au site http://izy.netlib.re &nbsp;<span class="glyphicon glyphicon-arrow-right"></span></a>
        </div>
        <div class="col-xs-6">
          <iframe width="500" height="275" src="https://www.youtube.com/embed/VB0QZogEouM" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="col-xs-12 text-left" style="margin-bottom:30px; background-color:#000;">
        <br/>
        <div class="row" style="padding-bottom:30px;">
          <div class="col-xs-6 text-left">
            <h3><strong>France 2 JT - Laurent Delahousse interview Marion pour ses 30 ans (2015)</strong></h3>
            <p><br/>Vidéo réalisée en 2015.<br/><br/>Vidéo réalisée pour l'anniversaire d'une amie.<br/><br/></p><br/><br/><br/><br/>
            <a href="http://izy.netlib.re" class="btn btn-default">Accéder au site http://izy.netlib.re &nbsp;<span class="glyphicon glyphicon-arrow-right"></span></a>
          </div>
          <div class="col-xs-6">
            <iframe width="500" height="275" src="https://www.youtube.com/embed/xTJnwgZTlsA" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>

    <div class="col-xs-12 text-left" style="margin-bottom:30px; background-color:#000;">
      <br/>
      <div class="row"  style="padding-bottom:30px;">
        <div class="col-xs-6">
          <h3><strong>Izy (2013)</strong></h3>
          <p><br/>Vidéo réalisée en 2013.<br/><br/>Et elle aussi destinée à la promotion d'une soirée.<br/><br/>Enjoy ;)</p><br/><br/>
        </div>
        <div class="col-xs-6">
          <iframe width="500" height="275" src="https://www.youtube.com/embed/HJ6_w5aDFuM" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <div class="col-xs-12 text-left" style="margin-bottom:30px; background-color:#000;">
      <br/>
      <div class="row"  style="padding-bottom:30px;">
        <div class="col-xs-6">
          <h3><strong>Lapussealoreille.fr version 3D (2010)</strong></h3>
          <p><br/>Premier site réalisé en 3D avec Three.js<br/><br/>Ce site était destiné à vendre les boucles d'oreilles de Lapussealoreille.fr<br/><br/>Mais hélas, personne n'y comprenait rien car le site était en 3D.</p><br/><br/>
          <a href="http://www.lapussealoreille.fr/index_3d.php" class="btn btn-default">Accéder au site http://www.lapussealoreille.fr/index_3d.php &nbsp;<span class="glyphicon glyphicon-arrow-right"></span></a>

        </div>
        <div class="col-xs-6">

        </div>
      </div>
    </div>



  </div>
</div>
<script src="/js/index.js"></script>
{% endblock %}


{% block stylesheetsplus %}
<link rel="stylesheet"  type="text/css" media="all" href="{{ asset('/css/index.css') }}" />
{% endblock %}
