{% extends 'base.html.twig' %}

{% block body %}

{% for i in 0..game.nbVideos %}
{% set numVideo =  "%03d" | format(i) %}
{% set pathVideoMp4 = 'bundles/videogame/video/'~game.videoPath~'/'~numVideo~'.mp4' %}
{% set pathVideoWebm = 'bundles/videogame/video/'~game.videoPath~'/'~numVideo~'.webm' %}
<video id="video_{{numVideo}}" webkit-playsinline style="display:none" >
   <source src="{{ asset(pathVideoMp4) }}" type='video/mp4;'>
   <source src="{{ asset(pathVideoWebm) }}" type='video/ogg;'>
</video>
{% endfor %}
   <div id="footer" style="display:none;">
   </div>

{% endblock %}

{% block jsgame %}
   <script>
   	{{ include('Engine/gameEngine.js.twig', { 'game': game }) }}
   </script>
{% endblock %}


{% block stylesheets %}
<style>
body {
  background-color: #000;
  color: #fff;
  margin: 0px;
  overflow: hidden;
  font-family:Monospace;
  font-size:13px;
  text-align:center;
  font-weight: bold;
  text-align:center;
  height: 100%;
}
* {
    margin: 0;
}
#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height:40px;
  background:#333;
}
</style>
{% endblock %}
