{% extends 'base.html.twig' %}

{% block body %}

{% for game in games %}
<div class="row">
  <div class="col-xs-12">
    <a href="{{ path('game', { idName : game.shortName }) }}">{{ game.name }}</a>
  </div>
</div>
{% endfor %}

{% endblock %}
