{% extends "::base.html.twig" %}
{% block body %}
    <body>
        <div class="main">
            <video autoplay poster="{{ asset('bundles/videogame/img/backgroundBlack.jpg') }}" id="videogamevideo" class='intro'>
                <source src="{{ asset('bundles/videogame/video/videogame.webm') }}" type="video/webm">
                <source src="{{ asset('bundles/videogame/video/videogame.mp4') }}" type="video/mp4">
            </video>
            <div class="container-fluid">
                <div class="row">
                    <div class="btn-passer">
                        <a class="btn btn-lg btn-default" href="{{ path('videogame_preinscription') }}">Passer...</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}
