

function onWindowResizeMobile(){
    var ratio = window.innerWidth / window.innerHeight;
    var pad = window.innerWidth / 2 - 32;
    if(ratio < 1){
        $("#footer").hide();
        $(".turn-mobile").show();
        $("#startGame").hide();
        $(".buttonStartParent").addClass("positionPortrait").removeClass("positionLandscape");
    }else {
        $(".turn-mobile").hide();
        $("#startGame").show();
        $(".buttonStartParent").addClass("positionLandscape").removeClass("positionPortrait");
        if($("#footer span.text").html()){
            $("#footer").show();
        }
    }
}



function stopVideo(numberVideo){
  videoElt = document.getElementById( 'video_'+numberVideo );
  if(videoElt){
      videoElt.pause();
      videoElt.currentTime = 0;
      videoElt.pause();
  }
}

/* Changement de la vidéo */
function changeVideo(pathGame, numberVideo, footerDelay = 0, pause = false, pauseafter = 0, transitionDuration = 120, priorVid = true){
  var mobile = $('div.ui-page-active').length;
  var videoElt = document.getElementById('video_'+numberVideo);
  if(videoElt === null){
      var video = document.createElement('video');
      if(mobile){ video.classList.add("mobile"); }
      var sourceMP4 = document.createElement("source");
          sourceMP4.type = "video/mp4";
          sourceMP4.src = pathGame+numberVideo+'.mp4';
      video.appendChild(sourceMP4);
      var sourceWebm = document.createElement("source");
          sourceWebm.type = "video/webm";
          sourceWebm.src = pathGame+numberVideo+'.webm';
      video.appendChild(sourceWebm);
      video.id = 'video_'+numberVideo;
      video.setAttribute("webkit-playsinline","");
      if(mobile){
          document.body.firstChild.insertBefore(video,document.body.firstChild.firstChild);
        }else {
          document.body.insertBefore(video,document.body.firstChild);
      }
  }

  videoElt = document.getElementById( 'video_'+numberVideo );
  videoElt.load();
  videoElt.currentTime = 0;
  videoElt.setAttribute('autoplay',true);

  videoElt.play();

  if(pause){
    setTimeout(function(){ videoElt.pause(); },pauseafter);
  }
     $("video").each(function(){
          if(($(this).attr("id") != videoElt.id) && (videoElt.paused === false)){
              TweenLite.to($(this), transitionDuration, {css: { opacity : 0}});
          }
    });


    if(priorVid && !mobile){
        removeOtherVidAndTween(videoElt,transitionDuration);
    }else{
        if(mobile){
            removeOtherVidAndTween(videoElt,transitionDuration,true);
        }else{
            setTimeout(function(){
                if($("video").length > 1){
                    if(mobile){
                        transitionDuration = 0;
                    }
                    removeOtherVidAndTween(videoElt,transitionDuration);
                }
            },transitionDuration);
        }
    }
    if(transitionDuration){
        setTimeout(function(){
                TweenLite.to(videoElt, transitionDuration/2, {css: { opacity : 1}});
        }, transitionDuration);
    }

  if(footerDelay == 'infini'){ return; }
  if(!mobile){
      $( "#footer" ).animate({
          bottom: "-80px"
    }, footerDelay);
  }else{
      $( "#footer" ).hide();
  }
  initDivLoadingShowHide(videoElt);
}

function removeOtherVidAndTween(videoElt,transitionDuration,noPause = false){
    $("video").each(function(){
        if(($(this).attr("id") != videoElt.id)  && (videoElt.paused === false)){
            if(!noPause){
                this.pause();
            }
            delete this;
            $(this).remove();
        }else{
            var v = document.getElementById($(this).attr('id').replace("#",''));
            v.play();
            videoElt.play();
        }
    });
    if(transitionDuration){
        TweenLite.to(videoElt, transitionDuration/2, {css: { opacity : 1}});
    }
}

function insertAfter(newNode, referenceNode) {
    referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
}

/** KeyBoardAzerty **/
var keyboardAzerty = ["97","122","101","114","116","121","117","105","111","112","113","115","100","102","103","104","106","107","108","109","119","120","99","118",
"98","110","44","59"];

/** mapping keyBoard **/
function createMappedKeyboard(firstVideo,lastVideo,random = false){
  var numberVideo = lastVideo - firstVideo + 2;
  var mappedKeyboard = [];

  if(random){
    for (var key in keyboardAzerty) {
      mappedKeyboard[keyboardAzerty[key]] = Math.floor(Math.random() * (Math.floor(lastVideo) - Math.ceil(firstVideo) +1)) + Math.ceil(firstVideo);
    }
    return mappedKeyboard;
  }

  var currentVid = firstVideo;

  for (var key in keyboardAzerty) {
    if(!(currentVid % numberVideo)){
      currentVid=firstVideo;
    }
    mappedKeyboard[keyboardAzerty[key]] = currentVid;
    currentVid++;
  }
  return mappedKeyboard;
}

function displaySkipBtn(){
  $("#skip").show();
}

function undisplaySkipBtn(){
  $("#skip").hide();
}

function loadText(textStr,footerDelay,ismobile = false){
  var text = textStr.replaceAll("\n", "<br/>");

if(!ismobile){
    var pattern = /link ('[A-Z]+') ([0-9]+)?/ig;
    var matches = text.match(pattern);
    if(matches){
      for (var i = 0; i < matches.length; i++) {
        var match = matches[i];
        var fct = match.replace(/link ('[A-Z]+') ([0-9]+)?/ig,"renderLink($1,$2)");
        var link = eval(fct);
        text = text.replaceAll(match,link);
      }
    }
  }else{
    text = text.replaceAll('Gauche',"&nbsp;<span class='glyphicon glyphicon-arrow-left' ></span>&nbsp;");
    text = text.replaceAll('Droite',"&nbsp;<span class='glyphicon glyphicon-arrow-right' ></span>&nbsp;");
    text = text.replaceAll('Haut',"&nbsp;<span class='glyphicon glyphicon-arrow-up' ></span>&nbsp;");
    text = text.replaceAll('Bas',"&nbsp;<span class='glyphicon glyphicon-arrow-down' ></span>&nbsp;");
    text = text.replaceAll('Tap',"&nbsp;<span class='glyphicon glyphicon-hand-down' ></span>&nbsp;");

  }
  $("#footer span.text").html(text);
  if(footerDelay == 'infini'){ return; }
  $( "#footer" ).show();
  if(!text){
      $("#footer").hide();
  }
  if(!ismobile){
      $( "#footer" ).animate({
        bottom: "0px"
        }, footerDelay, function() {
      });
      if(!text){
        $("#footer").hide();
        bottom: "-80px"
      }
  }
}



function loadDictionnaire(dictionnairetxt,delay){
  var dictionnaireText = dictionnairetxt.replaceAll("\n", "<br/>");
  dictionnaireText = dictionnaireText.replaceAll(" ", "&nbsp;");
  $("#dictionnaire").show();
  $("#dictionnaire span.text").html(dictionnaireText);
  var h = $("#dictionnaire span.text").height() + $("#dictionnaire span.text").parent().height();
  $("#dictionnaire").css("height",h+20);
  if(delay == 'infini'){ return; }
  $( "#dictionnaire" ).animate({
    bottom: "0px"
    }, delay, function() {
  });
  if(!dictionnaireText){
    $("#dictionnaire").hide();
    left: "0px"
  }
}

function renderLink(str,code){
  return "\"<a href='#' onClick='triggerKeypress("+code+"); return false;' style='color:#fff;' >"+str+"</a>\"";
}

function initDivLoadingShowHide(video){
    $("#divLoading").show();
    video.onplaying = function() {
        $("#divLoading").hide();
    };
}

function initFullScreenButton(){
    var goFS = document.getElementById("goFSButton");
    goFS.addEventListener("click", function() {
        toggleFullscreen();

    }, false);
}

function toggleFullscreen(){
    var doc = window.document;
    var docEl = doc.documentElement;
    var requestFullScreen = docEl.requestFullscreen || docEl.mozRequestFullScreen || docEl.webkitRequestFullScreen || docEl.msRequestFullscreen;
    var cancelFullScreen = doc.exitFullscreen || doc.mozCancelFullScreen || doc.webkitExitFullscreen || doc.msExitFullscreen;

    if(!doc.fullscreenElement && !doc.mozFullScreenElement && !doc.webkitFullscreenElement && !doc.msFullscreenElement) {
      requestFullScreen.call(docEl);
      $(".goFSText").hide();
      $(".goFSSpan").removeClass("glyphicon-resize-full").addClass("glyphicon-resize-small");
      $(".FSButtonHelperPanel").hide();
      $(".FSButtonHelperPanel").remove();
    }else {
        $(".goFSText").show();
        $(".goFSSpan").addClass("glyphicon-resize-full").removeClass("glyphicon-resize-small");
        cancelFullScreen.call(doc);

    }
}

function displayFSButtonHelper(){
    $(".FSButtonHelperPanel").show();
    setTimeout(function(){
        $(".FSButtonHelperPanel").hide();
        $(".FSButtonHelperPanel").remove();
    },5000);

}

function triggerKeypress(code){
  var kp = jQuery.Event("keypress");
  kp.which = code;
  kp.keyCode = code;

  $(document).trigger(kp);

  var ku = jQuery.Event("keyup");

  ku.which = code;
  ku.keyCode = code;

  $(document).trigger(ku);
};
